@model MyEnquiry_BussniessLayer.ViewModels.SurveyFormVm
<!-- Modal -->
<div class="modal fade" id="EditSurveyModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="defaultModalLabel">تعديل الإستعلام</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			@using (Html.BeginForm("Edit", "Surveys", new { area = "" }, FormMethod.Post, true, new { @id = "formaEdit" }))
			{
		<div class="modal-body">

			@Html.HiddenFor(m => m.Id)
			@*<div class="form-group">
			<label for="Name">اسم الإستعلام*</label>
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control reqE", @type = "text", @placeholder = "برجاء كتابة اسم الإستعلام" })
		</div>*@

			<div class="form-group">
				<label for="CaseTypeId">نوع الحالة</label>
				@Html.DropDownListFor(m => m.CaseTypeId, (IEnumerable<SelectListItem>)ViewBag.CaseTypes, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label for="BankId">البنك</label>
				@Html.DropDownListFor(m => m.BankId, (IEnumerable<SelectListItem>)ViewBag.Banks, new { @class = "form-control" })
			</div>

			<div class="form-group">
				<label for="Description">وصف الإستعلام</label>
				@Html.TextAreaFor(m => m.Description, 5, 4, new { @class = "form-control", @type = "text", @placeholder = "هذا الوصف سيتم عرضه فى الاستماره" })
			</div>

			@*<div class="form-group">
				<label for="Logo1">الشعار الأول</label>
				<small class="d-block text-danger">*لحذف الشعار ، برجاء التوجه إلى صفحه التفاصيل</small>
				<input type="file" accept="image/*" name="Logo1" id="Logo1" class="form-control" />
			</div>

			<div class="form-group">
				<label for="Logo1Text">اسم الشعار الأول</label>
				@Html.TextBoxFor(m => m.Logo1Text, new { @class = "form-control", @type = "text", @placeholder = "هذا الاسم سيتم عرضه تحت الشعار الأول" })
			</div>

			<div class="form-group">
				<label for="Logo2">الشعار الثاني</label>
				<br />
				<small class="text-danger">*لحذف الشعار ، برجاء التوجه إلى صفحه التفاصيل</small>
				<input type="file" accept="image/*" name="Logo2" id="Logo2" class="form-control" />
			</div>

			<div class="form-group">
				<label for="Logo2Text">اسم الشعار الثاني</label>
				@Html.TextBoxFor(m => m.Logo2Text, new { @class = "form-control", @type = "text", @placeholder = "هذا الاسم سيتم عرضه تحت الشعار الثاني" })
			</div>*@

			<div class="form-group">
				<label for="IsAcceptingResponses">الإستعلام يستقبل ردود؟</label>
				@Html.CheckBoxFor(m => m.IsAcceptingResponses)
			</div>
		</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
					<button type="submit" class="btn btn-primary">حفظ التعديلات</button>
				</div>
			}
		</div>
	</div>
</div>
